.comunidades-page{
   font-family: var(--fonte-a);
   overflow: hidden;
   

}




.primeiro{
  margin-bottom: 100px;
  padding: 0px 30px;
  text-align: center;

}




.container2{
  margin-top: 50px;
  
}

.word {
  transform: translateY(115px);
  transition: transform .5s;
}


.lupaa{
  display: flex;
  align-items: center;
  gap: 10px;
}

.lupaa img{
  width: 60px;
  opacity: 20%;

}

.lupaa p{
  color: #3F3F3F;
  font-weight: 600;
  font-family: var(--fonte-a);
  opacity: 20%;

}


.barrapesquisa{
  width: 100%;
  height: 50px;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;

}

.btn-pesquisa button{
  border-radius: 10px;
  border: 1px solid rgb(0, 51, 128);
  padding: 5px 10px;
  color: #3F3F3F;
  background-color: #ffff;
   opacity: 22%;
   transition: 0.5s;
}

.btn-pesquisa P{
  opacity: 50%;
  transition: 0.5s;
}

.btn-pesquisa button:hover{
  cursor: pointer;
  opacity: 100%;
}

.btn-pesquisa P:hover{
  opacity: 100%;
  color: black;
}

.comunidade{
  margin-bottom: -80px;
}

.botoes{
  display: flex;
  gap: 20px;
  margin-bottom: 120px;
  justify-content: center;
}

.botoes button{
  padding: 10px 15px;
  border-radius: 10px;

}

.botao1{
  color: white;
  background-color: rgb(0, 51, 128);
}

.botao2{
  border: 2px solid rgb(0, 51, 128);
  color:rgb(0, 51, 128);
  background-color: white;
}

.mini-txt{
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: var(--fonte-principal);
  color: #606060;
  padding: 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.quadrado{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 350px;
height: 500px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 5px 14px 20px 10px #9a9494;
padding: 0px 15px;
transition: 0.5s;
}

.quadrado:hover{
  transform: translateY(-75px); 
  width: 380px;
}



.quadrado img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.firstP{
  margin-top: -20px;
  font-weight: bold;
  font-size: 20px;
}


.blocos{
  display: flex;
  gap: 5%;
  padding: 0 110px;
  align-items: center;
  justify-content: center;
 
}

h1{
  font-family: var(--fonte-principal);
  color: #3F3F3F;
  font-size: 54px;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;

}

.txt{
  width: 24ch;
  text-align: center;
  

}

.botao{
  padding: 10px 15px;
  background-color: rgb(0, 51, 128);
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  transition: .5s;
  margin-top: auto;
   
}

.botao:hover{
  cursor: pointer;
  background-color: white;
  color: #7335EE;
  transform: translateY(-5px);
}

.proximos{
  font-family: var(--fonte-principal);
  color: #3F3F3F;
  font-size: 54px;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.encontrei{

display: grid;
width: 800px;
margin-left: 60px;
height: auto;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 5px 14px 20px 10px #ded7d7;
border: 1px solid rgb(255, 255, 255);

}


.margem{
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  

}
.bloco-esquerda {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 10px;
   
}

.texto-grupo {
    display: flex;
    flex-direction: column; 
}

.balao{
  padding: 0px 20px;
  
}
.balao button{
  color: #ffff;
  background-color: #7335EE;
  padding-block: 5px;
}


button{
  border-radius: 20px;
  padding: 2px 5px;
  background-color: #f0eaea;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

button:hover{
  background-color: #fff;
  color: #7335EE;
}

.n2,.n1{
  border-bottom: 1px solid black;
}

.detalhes, .data{
  width: 150px;
}

.subtitulo{
  opacity: 50%;
}

.divisao{
  display: flex;
  gap: 50px;
  margin-bottom: 120px;
}

.outro{
width: 300px;
height: auto;
padding: 10px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 5px 14px 20px 10px #ded7d7;

}

.numero2{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: left;
}

h3{
  padding: 10px 2px;
  margin-bottom: -50px;
}

.firstP2{
  text-align: left;
  opacity: 50%;
  font-size: 0.8rem;
}

.txt2{
  border: 1px solid black;
  background-color: #f0eaea;
  margin-right: 140px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: -35px;
  margin-bottom: 50px;
}

.botao2{
  background-color: #7335EE;
  color: #ffff;
  border-radius: 10px;
  padding: 10px 10px;
}






@media (max-width: 768px) {




.blocos{
  display: flex;
  flex-direction: column;
  padding: 0 145px;
  gap: 110px;
  box-shadow: 0px 5px 5x 5px #9a9494;
}

.quadrado{
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 10px;
}



.botao:hover{
  cursor: none;
  transform: none;
}

.botao{
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  color: #7335EE;
  margin-top: 30px;
  border-radius: 10px;
  margin-top: auto;
   
}

.quadrado:hover {
    transform: none !important;
    height: 500px !important;
    width: 350px !important; 
}

.primeiro{
  display: flex;
  flex-direction: column;
  
}

.comunidade{

  font-size: 2rem;
  
}

.mini-txt{
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.barrapesquisa{

display: none;
}

.lupaa{
  display: none;
}

.btn-pesquisa{
  display: none;
}


.divisao{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container2{
  margin-bottom: 100px;
  
}
.proximos{
  font-size: 2rem;
}

.encontrei{
  display: flex;
  flex-direction: column;
  width: 340px;
  height: auto;
  margin-right: 100px;
  margin-left: 100px;
}
.bloco-esquerda{
  display: flex;
  flex-direction: column;

  
}

.data{
  width: 120px;
  transition: none;
  margin-left: -80px;
}

.data:hover{
  cursor: none;
  color: #3F3F3F;
  background-color: #fffefe;
}

.dois{
  margin-left: -98px;
}
.detalhes{
  width: 60px;
  height: 60px;

}

.tres{
  margin-left: -95px;
}

.detalhes:hover{
  background-color: #7335EE;
  color: #fffefe;
  cursor: none;
}



}

