#eventos {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #0066ff, #5b3c8b);
  overflow: hidden;
}

.tudo{
  width: 100%;
}


.word {
  transform: translateY(115px);
  transition: transform .9s;
}

.txt-eventin{
  font-family: var(--fonte-a);
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}

.pFirsty{
  font-family: var(--fonte-a);
  text-align: center;
  color: white;
  font-size: 1.6rem;
  margin-bottom: 40px;
  text-align: center;
}

.colab {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 60px;
  flex-direction: row; 
}

.x {
  font-family: var(--fonte-a);
  font-size: 3rem;
  color:white;
  font-weight: bold;
  margin-top: 90px;
}

.colab-item {
  text-align: center;
  font-family: var(--fonte-a);
}

.colab-item img {
  width: 100%;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  background-color: white;
}

.colab-item p {
  font-size: 1.5rem;
  color: white; 
  margin-top: 15px; 
}

.pSecondy{
  font-family: var(--fonte-a);
  text-align: center;
  color: white;
  font-size: 1.6rem;
  margin-bottom: 150px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}


.relogio{
  font-family: var(--fonte-a);
    display: flex;           
    justify-content: center; 
    gap: 60px;        
    margin-bottom: 40px;
}

.box {
    font-family: var(--fonte-a);
    display: flex;
    flex-direction: column; 
    align-items: center;       
}

.box .valor {
    font-size: 5rem;         
    font-weight: 700;        
    color: white;                    
}

.box .nome {
    font-size: 1rem;     
    color: #e0e0e0;          
    margin-top: 10px;        
}


.botao button{
  padding: 10px 55px;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.5s;

}
.botao{
  display: flex;
  justify-content: center;
}


button:hover {
   cursor: pointer;
    background-color: #7335EE;
    color: #ffffff;
    transform: scale(1.05);
    
}

.nuvem {
  position: absolute;
  width: 20vw;
  pointer-events: none;
  opacity: 0.65;
  filter: blur(2px);
}

.nuvem.esquerda {
  left: -6vw;
  bottom: -8vw;
}

.nuvem.direita {
right: -6vw;
top: 21vw;
}


.nuvem.direita2{
  left: 85vw;
  bottom: -8vw;
  transform: scaleX(-1);
}

.nuvem.esquerda2{
left: -6vw;
bottom: 1vw;
}

.nuvem.esquerda3{
left: -6vw;
bottom: 15vw;
transform: scaleX(-1);
}


.nuvem.direita3{
left: 85vw;
bottom: 15vw;
}

.nuvem.passaro{
  left: 60vw;
  top: -15vw;
  width: 43vw;
  opacity: 1;
}

.nuvem.passarosesquerda{
  left: -2vw;
  top: -14vw;
  width: 43vw;
  opacity: 1;
}

.txttt{
  font-size: 1.5rem;
  font-family: var(--fonte-a);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  color: var(--cor-evento);
}

.imgtxt{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 150px;
}

.imgtxt1 p{
  max-width: 30ch;
  font-size: 0.8rem;
  font-family: var(--fonte-a);
  font-weight: 600;
  color: var(--cor-evento);
}

.futures{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.breve{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.brevinho{
  font-family: var(--fonte-a);
  font-size: 2rem;
  color: var(--cor-evento);
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.brevezin{
  font-family: var(--fonte-a);
  font-size: 1rem;
  color: var(--cor-evento);
  max-width: 40ch;
  text-align: center;
}
.evento-breve{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 350px;
height: 500px;
border-radius: 20px;
padding: 0px 15px;
transition: 0.5s;
margin-bottom: 100px;
overflow: hidden;
object-fit: cover;
}
.evento-breve img{
  width: 100%;
  height: 448px;
  border-radius: 10px;
}

.evento-breve:hover{
  transform: translateY(-175px); 
  height: 448px;
  width: 400px;
}

@media (max-width: 768px) {



h1 {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  .colab {
    flex-direction: column;
    gap: 30px; 
  }

  .x{
    margin: 0px 0px;
    align-self: center;
  }
  
  .colab-item img {
    width: 30%;
    height: 10%;
  }
  .colab-item p {
    font-size: 1.2rem; 
  }
  
 

  #eventos {
   margin-top: 100px;
   margin-bottom: 100px;
   padding-bottom: 50px;

}

.relogio {
        
        flex-direction: row;
        gap: 8px; 
        margin-top: 30px;
        padding: 0 10px;


}

.box .valor {
        font-size: 2.5rem; 
    }
    
    .box .nome {
        font-size: 0.7rem; 
        margin-top: 2px;
    }

    button{
      background-color: #ffffff;
      color: #5C2DA8;
    }

    button:hover {
    cursor: none;
      
    color: #ffffff;
    transform: none;
    box-shadow: none;
}

.futures{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.evento-breve:hover{
  transform: none; 
  width: 350px;
  height: 500px;
}

.txttt{
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.imgtxt{
  flex-direction: column;
  gap: 20px;
  margin-bottom: 150px;

}

.brevinho{
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-bottom: 30px;
}
.brevezin{
  font-size: 0.9rem;
}
}