:root {
    --cor-fundo-principal: #5C2BA8;
    --cor-texto-claro: white;
    --cor-texto-hover: #dbcbcb;
    --fonte-principal: "Sarala", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-a: "Poppins", sans-serif;
    --cor-evento: #3F3F3F;
}

.swal2-title {
  font-family:'Poppins', sans-serif;
}

.swal2-text {
  font-family:var(--fonte-principal)
}

.swal2-confirmButtonText {
  font-family:'Poppins', sans-serif;
 
}

@keyframes entrarSuave {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);    
    }
  }

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  animation: entrarSuave 0.8s ease-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f4f1ea;
}

.meet {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1920px !important;   
  margin: 0 auto !important;
  align-content: center;     
  flex-wrap: wrap;     
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: var(--fonte-a);
}

a:hover{
  cursor: pointer;
}

ul{
  padding: 0px;
}

#menu a {
  position: relative;
  text-decoration: none;
}

#menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;  
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center; 
}

#menu a:hover::after {

    transform: scaleX(1);
}

.container {
  max-width: 1700px;       
  margin: 0 auto;         
  padding: 0 20px;        
  width: 100%;
  display: flex;           
  justify-content: center; 
  align-items: center;   
  gap: 50px;             
}