.imaghe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imaghe img{
    width: 34%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 100%;
}



.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.login-card {
    background: hsla(0, 0%, 100%, 0.842);
    backdrop-filter: blur(10px);          
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    height: auto;
    text-align: center;
    color: #3F3F3F;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.esquedo img{
    width: 90%;
    height: 100%;
    margin-right: 100px;
}



h2 {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 300;
}


.input-group {
    position: relative;
    margin-bottom: 30px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: rgb(69, 63, 63);
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    transition: 0.3s;
}


.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #67636B;
    pointer-events: none;
    transition: 0.3s;
}


.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    font-size: 0.8rem;
    color: #0800ff;
}

.input-group input:focus {
    border-bottom-color: #a29bfe;
}


button {
    width: 100%;
    padding: 12px;
    background: #5E17EB; 
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #a29bfe;
    transform: scale(1.02);
}




.esqueci, .registro-link a {
    color: #000000;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.bem{
  font-family: var(--fonte-principal);
}

.esqueci:hover, .registro-link a:hover {
    color: white;
}


.google{
  width: 16px;
  height: 16px;
}


.registro-link {
    margin-top: 20px;
    font-size: 0.9rem;
}


.divisor {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.divisor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3F3F3F;
    z-index: 1;
}

.divisor span {
    position: relative;
    z-index: 2;
    background: white;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    color: #67636B;
    border: 1px solid black; 
}




.btn-google {
    background-color: rgba(255, 255, 255, 0.416);
    color: #757575; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-google:hover {
    background-color: #f1f1f1; 
    transform: scale(1.02);
}

.registro-link{
    font-family: var(--fonte-principal);
}

.esqueci{
    font-family: var(--fonte-principal); 
}

.registro-link a:hover,.esqueci:hover{
    color: #5E17EB;
}