#header{
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 10;
}

#header .container {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
}


#nav{
  display: flex;
  justify-content:center;
  align-items: center;
}

.tipografia img{
  width: 120px;
  margin-top: 18px;
}

#menu{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#menu a{
  font-family: var(--fonte-a);
  font-weight: bold;
  color: #5c2ba8;
  font-size: 16px;
  display: block;
  padding: .5rem;
}

#mobo-btn{
  display: none;
}

@media (max-width: 798px) {

#menu{
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: #e7e7e7;
  height: 0px;
  transition: .6S;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.ativar #menu{
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;  
}
#menu a {
  padding: 1rem;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}
  #mobo-btn{
  gap: 5px;
  display: flex;
  padding: 5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}
#hamburger{
  width: 20px;
  border-top: 2px solid black;
}
#hamburger::after,#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}
#nav.ativar #hamburger{
  border-top-color: transparent;

}
#nav.ativar #hamburger::before {
  transform: rotate(135deg);
  
}

#nav.ativar #hamburger::after {
 transform: rotate(-135deg);
top: -7px;
}
}