@import url(global.css);
@import url(../../Pages/login.html);

*{
    font-family: var(--fonte-principal);
}


body {
    height: 3000px;
}

.container-geral-somos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}

.texto-somos p{
    color: black;
    font-size: 30px;
    width: 40ch;
    text-align: right;
    margin-right: 100px;
}

.img-somos {
    width: 250px;
    position: relative;
    left: 150px;
}

.img-somos img{
    width: 100%;
}


.caixa-somos {
    display: flex;
    background:#EFEFEF;
    border-radius: 80px;
    height: 542px;
    width: 1270px;
    padding: 0 15px;
    justify-self: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

.texto-somos2{
    padding-left: 85px ;
}

.texto-somos2 h2 {
    color:  black;
    font-size: 40px;
    width: 10ch;
    margin-bottom: 25px;
}

.texto-somos2 p {
    color: black;
    font-size: 22px;
    width: 35ch;
    text-align: left;
}


.botao-so {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background: #3EBBB7;
    margin-top: 30px;
    font-weight: 900;
}

.circulos {
    width: 350px;
    position: relative;
    left: 100px;
    
}

.circulos img {
    width: 90%;
}


.circulosroxo{
    width: 350px;
    position: relative;
    left: 100px;
}
.circulosroxo img {
    width: 90%;
}

.img-somo img{
    width: 50%;
        
}


.botao-so2 {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background: #8B6AC3;
    margin-top: 30px;
    font-weight: 900;
}


.caixa-somos2 {   
    background:#EFEFEF;
    border-radius: 80px;
    height: 842px;
    width: 1270px;
    padding: 0 15px;
    justify-self: center;
    margin-bottom: 60px;
}

.texto-fin {
    padding: 70px;
}

.texto-fin h2 {
    color:  black;
    font-size: 40px;
    width: 10ch;
    margin-bottom: 15px;
    justify-self: center;
}

.texto-fin p {
    color: black;
    font-size: 22px;
    width: 35ch;
    text-align: right;
}

.img-fin {
    width: 400px;
    margin-left: 150px;
    margin-top: 20px;
}

.img-fin img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container-geral-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .texto-somos p {
        text-align: center;
        margin: 0;
        width: auto;
        font-size: 24px;
       
    }

    .img-somos {
        position: static;
        width: 80%;
    }

   

    .caixa-somos, .caixa-somos2 {
        width: 90%;
        height: auto;
        padding: 30px 15px;
        margin-bottom: 40px;
        padding-right: 65px;
        justify-content: center;
    }

    .texto-somos2 h2, .texto-fin h2 {
        text-align: center;
        width: auto;
    }

    .texto-somos2 p, .texto-fin p {
        text-align: center;
        width: auto;
    }

    .circulos, .homem, .mulher-quem {
      display: none;
    }

    .circulosroxo {
        display: none;
    }
    .img-fin {
        margin: 20px auto 0 auto;
        width: 80%;
    }

    .botao-so, .botao-so2 {
        width: 100%;
    }
    
}

.homem{}