.tudo{
  display: flex;
}



.registro {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  padding-block: 90px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.imagens{
  max-width: 100%;
  max-height: 700px;
}

.registro img{
  width: 100%;
  height: 100%;
  border: 1px solid black;

}

.textos{
  margin-left: 120px;
  padding-top: 100px;
  font-family: var(--fonte-principal);
}



.registro h1{
align-items: center;
color: var(--cor-evento);

}

.registro h2{

  font-size: 1rem;
  color: #7B7272;
  padding-block: 10px;
}

.registro p:first-of-type{
  color: var(--cor-evento);
  margin-top: 10px;
  margin-bottom: 10px;
}

.registro p + p{
  color: var(--cor-evento);
  margin-top: 10px;
  margin-bottom: 10px;
}


.botao button{
  margin-top: 10px;
  color: #7335EE;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, 
  color 0.3s ease, 
  transform 0.3s ease;
  box-shadow: 0 4px #000000;
  border: 1px solid black;
}


.botao button:hover {
   cursor: pointer;
    background-color: #FFFFFF;
    color: #8A2BE2;
    transform: scale(1.05);
    box-shadow: 0 6px #000000;
}

.botao button:active{

  transform: scale(1.05) translateY(4px);
} 

summary{
  color: #7B7272;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  
  .registro{
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
  }
  
  .tudo {
    display: flex;
    flex-direction: column;
    

  }

  .textos{
    align-items: start;
    text-align: center;
    margin: 0 auto;
    padding: 10px 15px;
    margin-top: 30px;
    
  }


  
  .textos h1{
    font-size: 1rem;
    
  }

  .imagens{
    width: 80%;
    height: 50%;
    margin: 0 auto;
  }

.botao button:hover {
   cursor: none;
    background-color: #FFFFFF;
    color: #8A2BE2;
    transform: none;
    box-shadow: 0 6px #000000;
}

}