.relaxamento-page{
  overflow-Y: hidden;
  width: 100%;

}

.onda{
  position: relative;
  display: inline-block;
  width: 100%;
}

.ondaa{
  width: 100%;
  display: block;
}



.runner{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.runner img{
  width: 30%;
}

.fistP{
  font-family: var(--fonte-a);
  font-size: 30px;
  font-weight: 1rem;
  text-align: left;
  padding: 0px 110px;

}

.SecondP{
  font-family: var(--fonte-a);
  font-size: 2rem;
  text-align: left;
}

.titulo{
  position: absolute;
  top: 25%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 3cqi;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: var(--fonte-a);
  z-index: 2;
}


.videos{
display: flex;
gap: 20%;
align-items: center;
width: 90%;
height: 200px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 5px 14px 20px 10px #9a9494;
border: 1px solid rgb(0, 0, 0);
padding: 15px 15px;
margin-bottom: 50px;
}

.yt{
width: 30%;
height: auto;
border-radius: 20px;
}

.lista-videos-yt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-header{

  margin-bottom: 50px;
}




@media (max-width: 768px) {

.onda{
  margin-bottom: -240px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.ondaa{
  width: 100%;
  display: block;
}
.titulo{
  position: absolute;
  top: 25%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 4cqi;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: var(--fonte-a);
  z-index: 2;
}

.conteudo-header{
  display: flex;
  flex-direction: column;

}


.runner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.runner img{
  width: 60%;
  margin-top: 150px;
}

.runner p{
  font-size: 1rem;
}


.conteudo-header{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.fistP{

font-size: 1rem;
text-align: center;
margin-top: 20px;
margin-bottom: -150px;
margin-left: -10px;

}


.videos{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 100%;
height: 700px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 5px 14px 20px 10px #9a9494;
border: 1px solid rgb(0, 0, 0);
padding-block: 15px;
margin-bottom: 50px;
}


.yt{

height: auto;
width: 100%;
border-radius: 20px;

}

.lista-videos-yt{
  margin-bottom: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-left: 0;

}

.txt-yt{
  width: 100%;
  height: 200px;
  text-align: center;
}
}