

.circle{
   font-family: var(--fonte-a);
   color: white;
}

.respiracao{
  background: linear-gradient(145deg, #4cc0b4, #7f4ab8);
}



.onda{
  position: relative;
  height: 300px;
  width: 100%;
  z-index: 2;
}


.titulo{
  position: absolute;
  top: 35%;
  left: 11%;
  transform: translateY(-50%);
  font-size: 3cqi;
  font-weight: bold;
  color: #7f4ab8;
  font-family: var(--fonte-a);
  z-index: 2;
  
}

.page {
  max-width: 900px;
  text-align: center;
  padding: 20px;
}

.paragraph__text {
  font-family: var(--fonte-a);
  font-size: 1.5rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 40px;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(145deg, #4cc0b4, #7f4ab8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin: 74px auto 30px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.circle button{
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--fonte-a);
} 

.iniciar{
  font-family: var(--fonte-a);
  font-weight: 100;
}
.timer {
  margin-top: 10px;
  background: white;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: #333;
  text-align: center;
  font-family: var(--fonte-a);
  margin-bottom: 200PX;
}


.iniciar{
  color: white;
}

@media (max-width: 768px) {

.titulo{
   top: 15%;
  left: 11%;
  font-size: 1rem;
}

}