*{
  font-family: var(--fonte-principal);
}

.container{
    max-width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;


}

.inicio img{

}

.inicio {
margin: 0 auto;
background: linear-gradient(to bottom,#004AAD , #6FC6B8 );
display: grid;
grid-template-columns: 1fr 1fr;

}

.elipsewoman {

    width: 500px;     
    max-width: 100%;  
    height: auto;     
    object-fit: contain; 
}

.col-esquerda {

display: grid;
place-items: center;
margin-top: 20px;
}

.col-direita {
place-items: center;
    display: grid;
    grid-template-rows: auto auto; 

}


@media (max-width: 600px) {
  .col-esquerda {
    display: none;
  }
}




.tituloinicio{
    font-size: 74px;
    margin-top: 100px;
    display: flex;
    
}

.paragrafoinicio{
    margin-bottom: 100px;
margin-right: 100px;
    font-size: 36px;
    text-align: center;
     display: flex;

}

.nuvem svg{
    display: block;
    width: 100%;
     display: flex;
}

.container-text{
    display: grid;
    gap: 22px;
    flex-direction: column;
align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza verticalmente (opcional) */
    text-align: center;     /* Garante que o texto dentro das tags fique centralizado */
    max-width: 100%;
}

.titulo2{
    display: flex;
    font-size: 50px;
    color: black;
    
       
}

.paragrafo2{
    display: flex;
    color: black;
    font-size: 30px;
    max-width: 800px;

}

.centro{
    margin: 0 auto;
    display: flex;
     font-size: 8vh;
}
   
    

.textvoluntarios{
    display: flex;
color: #6FC6B8;
margin: 0 auto;
margin-top: 30px;
text-align: center;
}


.container-termos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    gap: 40px;
    padding: 40px 80px;
}

/* COLUNA DE TEXTO */
.col-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-termos {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.paragrafo-termos {
    font-size: 18px;
    color: black;
    text-align: center;
}

.botao-termos {
    display: flex;
    margin: 0 auto;
    max-width: 200px;
    background: #6C3BFF;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}


.col-img {
    display: flex;
    justify-content: center;
}

.image-box {
    position: relative;
    width: 350px;
    height: 350px;
}


.circle {
    position: absolute;
    width: 320px;
    height: 320px;
    background: #9A4DFF;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img-termos {
    height: 500px;
    position: absolute;
    width: 300px;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 800px) {
    .container-termos {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .col-img {
        justify-content: center;
    }
}









.container-carrocel{
background: linear-gradient(to bottom, #6FC6B8, #004AAD  );

}

.carousel-container {
    perspective: 1000px; 
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    height: 400px;    
    position: relative;
    margin: 0 auto;  


.carousel-track {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    width: 220px;
    height: 320px;
    background: transparent;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


.card.center {
    transform: translateX(0) scale(1.1);
    z-index: 20;
    opacity: 1;
}

.card.left {
    transform: translateX(-240px) scale(0.85);
    z-index: 10;
    opacity: 0.8;
    filter: blur(1px); 
    cursor: pointer;
}


.card.right {
    transform: translateX(240px) scale(0.85);
    z-index: 10;
    opacity: 0.8;
    filter: blur(1px);
    cursor: pointer;
}


.card.hidden {
    transform: translateX(0) scale(0.5);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.card-inner {
    text-align: center;
    width: 100%;
}

.card-name {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 35px;
    overflow: hidden; 
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    height: 300px;
}

.btn-marcar {
    background-color: #00b894;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 30;
}
.prev-btn { left: 10px; }
.next-btn { right: 10px; }

}


@media (max-width: 650px){

.tituloinicio{
    font-size: 50px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    
}

.paragrafoinicio{
    margin-left: 150px;
    margin-bottom: 80px;

    font-size: 35px;
     display: flex;

}


.titulo2{
    display: flex;
    font-size: 6vh;
    color: black;
        margin-left: 50px;
        text-align: center;
}

.paragrafo2{
  font-size: 10px;
  max-width: 300px;
}
}


@media (max-width: 460px){

.tituloinicio{
    font-size: 40px;
    margin-top: 80px;
    display: flex;
    align-items: center;
 max-width: 100%;
}

.inicio{
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.paragrafoinicio{
   margin: 0 auto;
    margin-bottom: 80px;
    font-size: 35px;
     display: flex;
     flex-direction: column;
     justify-content: center;

}


.titulo2{
    display: flex;
    font-size: 20px;
    color: black;
     text-align: center;
}

.paragrafo2{
  font-size: 10px;
  max-width: 300px;
   text-align: center;
}
}