@import url(global.css);



main{
  margin-bottom: 250px;
}

h1{
  font-family: var(--fonte-principal);
  color: #3F3F3F;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -100px;
  font-size: 54px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  
}

.container img{
  width: 329px;
  height: 310px;
  border-radius: 60px;
  object-fit: cover;
  border: 1px solid black;

}

.comu1 img{
  background-color: #004AAD;
}

.comu2 img{
  background-color: #7335EE;
}

.comu3 img{
  background-color:#10B3AA;
  
}

.firstP{
  font-weight: 600;
  font-size: 20px;
}

p{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #000000;
  align-items: center;
  justify-content: center;
  min-height: 10px;
}

button{
  padding: 10px 15px;
  background-color: rebeccapurple;
  margin-top: 30px;
  border-radius: 10px;
  transition: .5s;
  margin-top: auto;
   
}

button:hover{
  cursor: pointer;
  background-color: white;
  color: #7335EE;
  transform: translateY(-5px);
}

span{
  color: white;
}