@import url(global.css);


*{
    font-family: var(--fonte-principal);
}

.onda{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    margin-top: -10px;
    z-index: 1;
    top: 0;
    left: 0;
}

.onda img{
    width: 100%;
    display: block;
    transform: scaleY(0.7);
    transform-origin: top;
    position: relative;
    z-index: 1;
}

.titulo-sobre-onda{
    position: absolute;
    top: 60px;
    left: 40px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    z-index: 10;
}

.onda, .onda * {
    pointer-events: none;
}

/* corpo dicas */
#dicas{
    font-family: "Poppins", sans-serif;
    margin-bottom: 54px;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    margin-top: 0;
    padding-top: 214px;
}

.dicas-container {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;
  gap: 0px;
  max-width: 1000px;
  margin: 0 auto;
}

#dicas h2{
    text-align: start;
    font-size: 74px;
    color: white;
    margin-left: 40px;
}


.dicas-texto p {
    color: #3F3F3F;
    font-size: 22px;
    line-height: 32px;
    max-width: 1100px;
    text-align: left;
    margin: 24px auto;
    margin-top: -60px;
}

/* IMAGEM */
.dicas-imagem{
    position: relative;
    width: 310px;
    height: 320px;
    margin: 0 auto;

    transform: translate(20%, 80px);
}
.dicas-imagem{
  margin-top: 40px;
}

.circulo-roxo{
    position: absolute;
    inset: 0;
    background: #5C2BA8;
    border-radius: 50%;
    transform: scaleX(0.90);
    z-index: 1;
}

.imagem{
    position: absolute;
    width: 340px;
    height: auto;

    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
    filter: drop-shadow(0px 8px 12px rgba(0,0,0,0.35));
}

/* BOTÕES */
.botoes-container{
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 1200px;
    margin: 40px auto;
    gap: 30px;
    align-items: flex-start;
    margin-top: -60px;

    --offset-inicial: -180px;
}



.btn-dicas{
    width: 100%;
    height: auto;

    background-color: #5C2BA8;
    padding: 20px 64px;
    border-radius: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.616);
    transition: 0.2s ease;

    font-size: 22px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-dicas:hover{
    background-color: #4A2290;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.356);
}

.botoes-container a:nth-child(1){
    transform: translateX(calc(0px + var(--offset-inicial)));
}

.botoes-container a:nth-child(2){
    transform: translateX(calc(250px + var(--offset-inicial)));
}

.botoes-container a:nth-child(3){
    transform: translateX(calc(450px + var(--offset-inicial)));
}

.botoes-container a:nth-child(4){
    transform: translateX(calc(650px + var(--offset-inicial)));
}


/* RESPONSIVO AQUI !!!! */

@media (max-width: 768px){

    /* ONDA */
  .onda img{
    transform: scale(4.0) scaleY(0.7);
    transform-origin: top;
  }

  .titulo-sobre-onda{
    top: 40px;
    left: 20px;
    font-size: 42px;
  }

  /* CORPO */
  
  .dicas-container{
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 90%;
  }

  .dicas-texto p{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 0;
  }

  .dicas-imagem{
    transform: none;
    width: 240px;
    height: 250px;
    margin: 0 auto;
  }

  .imagem{
    width: 260px;
    bottom: -20px;
  }

  /* BOTÕES!! */
  .botoes-container{
    align-items: center;
    margin-top: 0;
  }

  .btn-dicas{
    width: 100%;
    max-width: 280px;
    padding: 18px 20px;
    font-size: 18px;
  }

  .botoes-container a:nth-child(1),
  .botoes-container a:nth-child(2),
  .botoes-container a:nth-child(3),
  .botoes-container a:nth-child(4){
    transform: none !important;
  }
}
