/* ONDA */
.onda{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: -10px;
    z-index: 1;
}

.onda img{
    width: 100%;
    display: block;
    transform: scaleY(0.7);
    transform-origin: top;
    position: relative;
    z-index: 1;
}

.titulo-sobre-onda{
    position: absolute;
    top: 80px;
    left: 40px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    z-index: 10;
}

/* corpo dicas */

#dicas{
    font-family: "Poppins", sans-serif;
    margin-bottom: 54px;
}

.dicas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    max-width: 1400px;
    margin: 0 auto;
    margin-top: -300px;
    margin-bottom: 100px;

    text-align: start;

    position: relative;
    z-index: 20;
}

#dicas h2{
    text-align: start;
    font-size: 74px;
    color: white;
    margin-left: 40px;
}


.dicas-texto p {
    color: #3F3F3F;
    font-size: 22px;
    line-height: 32px;
    max-width: 1100px;
    text-align: center;
    margin: 24px auto;
    padding: 0 200px;
    margin-top: -60px;
}


/* BOTÕES */
.botoes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 1200px;
  margin: 40px auto;
}


.btn-dicas{
    width: 100%;
    height: auto;
    background-color: #7D2EFF;
    padding: 25px 80px;
    color: white;
    text-align: center;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.616);
    transition: 0.2s ease;
}

.btn-dicas:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.356);
}

