#dicas{
    background: pink;
    padding: 100px;
}

.container-dicas{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.container-dicas h2{
    font-size: 2.5rem;
}

.dicas-texto{
    grid-column: 1 / 3;
    font-size: 1.1rem;
}

.btn-dicas{
    padding: 18px 0;
    border-radius: 40px;
    background: white;
    font-size: 1.1rem;
}

