@import url(global.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: var(--fonte-principal);
}




.container {
 width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;     
  background: linear-gradient(to bottom, #5C2DA8, black);
}

.info-evento h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 60px;
  margin-top: 60px;
}


.colab {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 60px;
  flex-direction: row; 
}

.x {
  font-size: 3rem;
  color:white;
  font-weight: bold;
  margin-top: 90px;
}

.colab-item {
  text-align: center;
}

.colab-item img {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.colab-item p {
  font-size: 1.5rem;
  color: white; 
  margin-top: 15px; 
}


.relogio{
    display: flex;           
    justify-content: center; 
    gap: 60px;               
    margin-top: 60px;        
    margin-bottom: 40px;
}

.box {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    min-width: 80px;         
}

.box .valor {
    font-size: 5rem;         
    font-weight: 700;        
    color: white;            
    line-height: 1;          
}

.box .nome {
    font-size: 1rem;     
    color: #e0e0e0;          
    margin-top: 10px;        
    text-transform: capitalize; 
}



.botao button{
  margin-top: 10px;
  color: #7335EE;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, 
  color 0.3s ease, 
  transform 0.3s ease;
  box-shadow: 0 4px #000000;
  border: 1px solid black;
}


.botao button:hover {
   cursor: pointer;
    background-color: #7335EE;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px #000000;
}


.nuvems-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nuvem {
  background: rgb(255, 255, 255, 0.2);
  animation: move 125s infinite linear alternate;
  mask-image: url('../imagens/1295100.svg');
  -webkit-mask-image: url('../imagens/1295100.svg'); 
  mask-size: contain;     
  mask-repeat: no-repeat;  
  mask-position: center;   
}

.nuvem:nth-child(1) {
  width: 400px;
  height: 400px;
  top: -150px;
  left: -100px;
  animation-duration: 20s;
}

.nuvem:nth-child(2) {
  width: 500px;
  height: 500px;
  bottom: -200px;
  right: -150px;
  animation-duration: 20s;
}

.nuvem:nth-child(3) {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 20s;
}

.nuvem:nth-child(4) {
  width: 250px;
  height: 250px;
  top: 10%;
  right: 10%;
  animation-duration: 20s;
}

.nuvem:nth-child(5) {
  width: 350px;
  height: 350px;
  bottom: -100px;
  left: 0%;
  animation-duration: 20s;
}

@keyframes move {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(200px, 10px) rotate(0deg);
  }
}

@media (max-width: 768px) {

  body{
    overflow: scroll;
  }

.info-evento h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .colab {
    flex-direction: column;
    gap: 30px; 
  }

  .x{
    margin: 0px 0px;
    margin-left: 45px
  }
  
  .colab-item img {
    width: 120px;
    height: 120px;
  }
  .colab-item p {
    font-size: 1.2rem; 
  }

  .separador-x {
    font-size: 1.5rem;
    margin: 20px 0;
    
  }
  
  .nuvem {
        width: 50px; 
        height: 50px;
        filter: blur(3px); 
        animation-duration: 20s, 6s;
}
.nuvem:nth-child(1) {
      display: none; 
}
.nuvem:nth-child(2) {
display: none;
}
.nuvem:nth-child(3){
  display: none;
}

.botao{
      display: flex;
     position: relative;
     padding-top: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
    }


  #eventos-container {
   padding-top: 40px;
    height: 900px;
    overflow: visible;
    padding-bottom: 50px;

}

.relogio {
        
        flex-direction: row;
        gap: 8px; 
        margin-top: 30px;
        padding: 0 10px;


}

.box .valor {
        font-size: 2.5rem; 
    }
    
    .box .nome {
        font-size: 0.7rem; 
        margin-top: 2px;
    }
}