@import url(global.css);


main {
    position: relative;
    z-index: 2;
}

#eventos-container {

  min-height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, #5C2BA8, black);
  background-attachment: fixed;
  overflow: hidden;
  margin: 0% auto;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0 auto;
} 

.info-evento h1 {
  text-align: center;
  color: aliceblue;
  font-size: 2.5rem;
  margin-bottom: 150px;
}


.colab {
  display: flex;
  justify-content: center; 
  gap: 60px;
  flex-direction: row; 
  margin-bottom: 100px;
}

.x {
  font-size: 3rem;
  color:white;
  font-weight: bold;
  margin-top: 90px;
}

.colab-item {
  text-align: center;
}

.colab-item img {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.colab-item p {
  font-size: 1.5rem;
  color: white; 
  margin-top: 15px; 
}
.nuvems-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nuvem {
  background: rgb(255, 255, 255, 0.2);
  animation: move 125s infinite linear alternate;
  mask-image: url('../imagens/1295100.svg');
  -webkit-mask-image: url('../imagens/1295100.svg'); 
  mask-size: contain;     
  mask-repeat: no-repeat;  
  mask-position: center;   
}

.nuvem:nth-child(1) {
  width: -400px;
  height: -400px;
  top: 150px;
  left: 100px;
  animation-duration: 20s;
}

.nuvem:nth-child(2) {
  width: 500px;
  height: 500px;
  bottom: -200px;
  right: -150px;
  animation-duration: 20s;
}

.nuvem:nth-child(3) {
  width: -300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 20s;
}

.nuvem:nth-child(4) {
  width: 250px;
  height: 250px;
  top: 10%;
  right: 10%;
  animation-duration: 20s;
}

.nuvem:nth-child(5) {
  width: 350px;
  height: 350px;
  bottom: -100px;
  left: 0%;
  animation-duration: 20s;
}

.botao{
margin-top: 110px;
}

.botao button{
  color: rgb(255, 255, 255);
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #5C2BA8;
  transition: background-color 0.3s ease, 
  color 0.3s ease, 
  transform 0.3s ease;
  box-shadow: 0 4px #6A1B9A
}

.botao button:hover {
   cursor: pointer;
    background-color: #FFFFFF;
    color: #8A2BE2;
    transform: scale(1.05);
    box-shadow: 0 6px #6A1B9A;
}
.botao button:active{

  transform: scale(1.05) translateY(4px);
} 

.relogio{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  color: rgb(20, 20, 20);
  gap: 30px;
}

.box{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 32px;
}

.valor{
  font-size: 64px;
  font-weight: 700;
}


@keyframes move {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(200px, 10px) rotate(0deg);
  }
}

@media (max-width: 768px) {

  body{
    overflow: scroll;
  }

.info-evento h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .colab {
    flex-direction: column;
    gap: 30px; 
  }

  .x{
    margin: 0px 0px;
    margin-left: 45px
  }
  
  .colab-item img {
    width: 120px;
    height: 120px;
  }
  .colab-item p {
    font-size: 1.2rem; 
  }

  .separador-x {
    font-size: 1.5rem;
    margin: 20px 0;
    
  }
  
  .nuvem {
        width: 50px; 
        height: 50px;
        filter: blur(3px); 
        animation-duration: 20s, 6s;
}
.nuvem:nth-child(1) {
      display: none; 
}
.nuvem:nth-child(2) {
display: none;
}
.nuvem:nth-child(3){
  display: none;
}
}