
:root {
    --cor-fundo-principal: #5C2BA8;
    --cor-texto-claro: white;
    --cor-texto-hover: #dbcbcb;
    --fonte-principal: "Inter", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-a: "Poppins", sans-serif;
}




*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;   
}

body{
  margin: 0%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

ul{
  padding: 0px;
}

img{
  width: 120px;
}