
html {
    scroll-behavior: smooth;
}

main{
  flex-grow: 1;
}

@keyframes entrarSuave {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);    
    }
  }


:root {
    --cor-fundo-principal: #5C2BA8;
    --cor-texto-claro: white;
    --cor-texto-hover: #dbcbcb;
    --fonte-principal: "Sarala", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-a: "Poppins", sans-serif;
    --cor-evento: #3F3F3F;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: none;
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;   
}

body{
  margin: 0 auto;
  animation: entrarSuave 0.8s ease-out;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  cursor: pointer;
}

ul{
  padding: 0px;
}

img{
  width: 120px;
}

#menu a {
  position: relative;
  text-decoration: none;
}

#menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;  
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center; 
}

#menu a:hover::after {

    transform: scaleX(1);
}

.retem {
  max-width: 1700px;
  margin: 0 auto;
  align-items: center;
}