@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 45px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Sarala", sans-serif;
    font-style: normal;
}


.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.logo-menu {
    display: block;
    height: 150px;
}

.container-home {
    display: grid;
    max-width: 1400px;
    grid-template-columns: 1fr 1fr;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    column-gap: 5px;
}

.texto-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    font-family: "Sarala", sans-serif;
}

.imagem-home img {
    width: 100%;
    height: 100%;
}

.imagem-home {
   width: 600px;
   
}

.botao-home {
    border-radius: 20px;
    height: 52px;
    width: 300px;
    border: none;
    background: #10B3AA;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Sarala", sans-serif;
    align-items: center;
    justify-content: center;
}

.caixa{
    margin-top: 150px;
    justify-items: center;
    margin-right: 25px;
}
.caixa-texto {
    margin-top: 35px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px 1px gray;
    width: 80ch;
    border-radius: 20px;
}

.texto-dois {
    font-size: 16px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
}

.imagem-home2 {
    display: block;
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 55px;
}