@import url(global.css);




*{
    font-family: var(--fonte-principal);
}

body {
    margin: 0;
    height: 2500px;
}

.caixas {
    background-image: linear-gradient(to right,#004AAD,#10B3AA );
    height: 300px;
    margin-top: 35px;
}

.container-geral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.container-geral h2{
    padding-bottom: 20px;
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 45ch;
    margin-left: 150px;
    gap: 25px;
}

.poltrona img{
    width: 400px;
    position: relative;
    left: 180px;
    top: 50px;
}

.botao-h {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background: white;
    color: #7335EE;
    font-weight: 900;
    position: relative;
    right: 100px;
}

.texto-emoji {
    display: flex;
    flex-direction: column;
    width: 50ch;
    gap: 25px;
    margin-top: 150px;
}


.texto-emoji h2 {
    color: black;
    font-size: 40px;
    text-align: right;
    margin-left: 100px;
}

.texto-emoji p {
    color: black;
    font-size: 22px;
    text-align:end;
}

.emojis img{
    width: 350px;
    margin-top: 120px;
    margin-left: 150px;
}

.botao-emoji {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background: #7335EE;
    color: white;
    font-weight: 900;
    position: relative;
    left: 250px;
}

.texto-3{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 180px;
}

.texto-3 p {
    color: black;
    font-size: 22px;
    width: 30ch;
    margin-left: 150px;
}

.texto-3 h2 {
    margin-left: 150px;
    color: black;
    font-size: 40px;
}

.img-respi img {
    width: 500px;
    margin-top: 60px;
    margin-left: 150px;
}

.botao-respi{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background: #7335EE;
    color: white;
    font-weight: 900;
    position: relative;
    margin-left: 150px;
}


.sala img {
    width: 780px;
    margin-right: 80px;

}


.mensagem-texto{
    position: relative;
    bottom: 250px;
    font-size: 13px;
    width: 30ch;
    left: 100px;
}

.Mens  {
    color: black;
    width: 20ch;
    position: relative;
    top: 150px;
    left: 110px;
}

.apoiar p, h3  {
    color: black;
    margin-top: 15px;
}

.apoiar {
    margin-left: 150px;
    width: 60ch;
}

.caixa-imagens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 155px;
}