.noticias-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

main h2{
    text-align: center;
}

.noticias-container h2{
  font-size: 2.5rem;
}

.card-noticia{
    display: grid;
    grid-template-columns: 320px 1fr;
    background: pink;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
    width: 900px;
}

.card-img img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

.fonte-data{
    display: block;
}

.btn-noticia{
    background: white;
    cursor: pointer;
}
