@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.onda img{
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1{
  position:absolute;
  top: 130px;
  left: 5%;
  padding-top: 2%;
  color: #fff;
  font-size: 70px;
  z-index: 1;
}


.meditacao {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: -350px;
  z-index: 1;
}


.topo h2 {
  color: #fff;
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}


.descricao {
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}


.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.img-meditacao {
  width: 487px;
  height: 514px;
}


.texto-lateral {
  font-size: 18px;
  color: #444;
  line-height: 1.4;
  text-align: center;
}


.videos {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.video-card {
  width: 70%;
  height: 90px;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding: 10px;
}


.thumb img {
  width: 35px;
}

.lista-videos-yt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    margin-bottom: 120px;
}


.video-embed-container {
    width: 100%;
    max-width: 700px; 
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    overflow: hidden;    
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background-color: #000; 
    transition: transform 0.3s ease;
}


.video-embed-container:hover {
    transform: scale(1.02);
}

.video-embed-container iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}