@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');


body{
    height: 2600px;
}

.onda {
    min-height: 400px;
    width: 100%;
    background:;
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    left: 0;
}


.texto-re {
    font-size: 3rem;
    text-align: center;
    color: white;
    position: relative;
    bottom: 350px;
    right: 150px;
}

.container-re p {
    color: black;
    position: relative;
    bottom: 300px;
   margin-left: 100px;
   font-size: 30px;
   width: 40ch;
}

.container-ilustracao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.texto-ilu h2{
    font-size: 30px;
    text-align: center;
    color: black;
    bottom: 100px;
    position: relative;
    left: 100px;
}

.ilustracao{
    width: 400px;
    position: relative;
    left: 150px;
    bottom: 50px;
}

.ilustracao img{
    width: 100%;
}   

.texto-ilustracao p {
    color: black;
    font-size: 30px;
    text-align: right;
    margin-right: 150px;
}

.caixas {
    width: 900px;
    justify-self: center
}

.caixinhas {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 5px 10px 0px rgba(70, 67, 67, 0.603);
    border-radius: 25px;
    margin-top: 100px;
}

.you {
    width: 350px;
    height: 200px;
    position: absolute;   
}

.you img {
    width: 100%;
    height: 100%;
}





