* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, #5C2BA8, black);
  background-attachment: fixed;
  overflow-x: hidden;
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0 10px;
} 

.info-evento h1 {
  text-align: center;
  color: rgb(2, 0, 0);
  font-size: 2.5rem;
  margin-bottom: 60px;
  margin-bottom: 100px;
}


.colab {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 60px;
  flex-direction: row; 
}

.x {
  font-size: 3rem;
  color:white;
  font-weight: bold;
  margin-top: 90px;
}

.colab-item {
  text-align: center;
}

.colab-item img {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.colab-item p {
  font-size: 1.5rem;
  color: white; 
  margin-top: 15px; 
}
.nuvems-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.nuvem {
  background: rgb(255, 255, 255, 0.2);
  animation: move 125s infinite linear alternate;
  mask-image: url('../imagens/1295100.svg');
  -webkit-mask-image: url('../imagens/1295100.svg'); 
  mask-size: contain;     
  mask-repeat: no-repeat;  
  mask-position: center;   
}

.nuvem:nth-child(1) {
  width: 400px;
  height: 400px;
  top: -150px;
  left: -100px;
  animation-duration: 20s;
}

.nuvem:nth-child(2) {
  width: 500px;
  height: 500px;
  bottom: -200px;
  right: -150px;
  animation-duration: 20s;
}

.nuvem:nth-child(3) {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 20s;
}

.nuvem:nth-child(4) {
  width: 250px;
  height: 250px;
  top: 10%;
  right: 10%;
  animation-duration: 20s;
}

.nuvem:nth-child(5) {
  width: 350px;
  height: 350px;
  bottom: -100px;
  left: 0%;
  animation-duration: 20s;
}

@keyframes move {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(200px, 10px) rotate(0deg);
  }
}

@media (max-width: 768px) {

  body{
    overflow: scroll;
  }

.info-evento h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .colab {
    flex-direction: column;
    gap: 30px; 
  }

  .x{
    margin: 0px 0px;
    margin-left: 45px
  }
  
  .colab-item img {
    width: 120px;
    height: 120px;
  }
  .colab-item p {
    font-size: 1.2rem; 
  }

  .separador-x {
    font-size: 1.5rem;
    margin: 20px 0;
    
  }
  
  .nuvem {
        width: 50px; 
        height: 50px;
        filter: blur(3px); 
        animation-duration: 20s, 6s;
}
.nuvem:nth-child(1) {
      display: none; 
}
.nuvem:nth-child(2) {
display: none;
}
.nuvem:nth-child(3){
  display: none;
}
}