@import url("../home/home.css");

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

p {
    font-family: "Sarala", sans-serif;
    font-size: 36px;
    width: 45ch;
    font-weight: 400;
    margin-top: -25px;
}

.container-sintoma {
   font-family: "Sarala", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-style: normal; 
    color: white;
    background: #5C2BA8;
    margin-top: -40px;
}

.caixa-sintoma  {
    position: relative;
    min-height: 100vh;
    width: 100%;
    top: -75px;
}

svg {
    position: relative;
    left: 0;
}

.caixa-texto2 {
    display: flex;
    justify-self: center;
    margin-top: 35px;
    box-shadow: 5px 5px 10px 1px gray;
    width: 150ch;
    border-radius: 20px;
    padding: 15px;
}