@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.relaxamento{
    position: relative;
    display: flex;
    align-items: center;
}

.onda{
    display: block;
    position: relative;
    width: 100%;
    size: 100%;
}
.textos h1{
    font-family:Poppins ;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 25px;
    color: white;
}
.textos p{
     font-family:Poppins ;
    position:relative ;
    font-size: 40px;
    left: 70px;
    top: -180px;
}
.ilustracao{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-ar;
    align-items: center;
}
.menino{
    position: relative;
    width: 40%;
   left: 90px;
}
.ilustracao p{
     font-family:Poppins ;
    position: relative;
    left: 300px;
    font-size: 35px;
    top: 10px;
    padding: 30px;
}
.pai{
        position: relative;
    flex-direction: column;
}
#conteudo{
    position: relative;
justify-content: center;
    height: 300px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 5px 10px 0px rgba(70, 67, 67, 0.603);
    border-radius: 25px;
    top: 200px;
    left: 140px;

}
#conteudo2{
    position: relative;
justify-content: center;
    height: 300px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 5px 10px 0px rgba(70, 67, 67, 0.603);
    border-radius: 25px;
    top: 400px;
    left: 140px;
}
#conteudo3{

    position: relative;
justify-content: center;
    height: 300px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow:0px 5px 10px 0px rgba(70, 67, 67, 0.603);
    border-radius: 25px;
    top: 600px;
    left: 140px;
}
.img2 {
    position: absolute;  
    top: 1640px;          
    left: 190px;              
    z-index: 9999;        
}
.img3 {
    position: absolute;  
    top: 2640px;          
    left: 190px;              
    z-index: 9999;        
}
.img4{
     position: absolute;  
    top: 2140px;          
    left: 190px;              
    z-index: 9999;       
}
#titulo {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.hidden {
    opacity: 0;
}

#titulo.show {
    opacity: 1;
}
.hidden {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}